

# =========================
# FLUTTER (frontend/)
# =========================
# Flutter/Dart no se sube al repositorio
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/pubspec.lock
frontend/ios/Runner.xcworkspace
# Android (si usas Android Studio o generas builds)
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/build/
frontend/android/local.properties

# iOS (si usas Xcode)
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/app.flx
frontend/ios/Flutter/flutter_assets/

#Mockend
mockend/node_modules
mockend/videos-data.json
